{% extends 'base.html' %}
{% block content %}
    {%  load i18n %}
<section id="about" class="block background01 animatedParent animateOnce">
	<div class="row">
	 <div class="about">
          <div class="animated fadeIn slow">
		  <h2>{% trans "О сервисе, О нас " %}</h2>
			<img src="https://upload.wikimedia.org/wikipedia/commons/8/88/Ovpntech_logo-s_REVISED.png" class="img-about1" alt="openvpn" />
            <p>{% trans "OpenVPN — свободная реализация технологии виртуальной частной сети (VPN) с открытым исходным кодом для создания зашифрованных каналов типа точка-точка или сервер-клиенты между компьютерами. Она позволяет устанавливать соединения между компьютерами, находящимися за NAT и сетевым экраном, без необходимости изменения их настроек. OpenVPN была создана Джеймсом Йонаном (James Yonan) и распространяется под лицензией GNU GPL." %}</p>
			<img src="/static/images/logo.png" class="img-about1" alt="openvpn" />
			<p>{% trans "Ни для кого не секрет, что все ваши действия в интернете давно отслеживаются, фильтруются и анализируются. Это может быть, как обычный интернет провайдер, который обязан хранить историю всей вашей онлайн жизни, так и государство которое может ограничивать свободу слова блокируя социальный сети и сервисы обмена информацией такие как: Twitter, Instagram, Skype и тд." %}</p>
			<br>
			<h3>{% trans "Что может вам предложить VpnMongoliaService?" %}</h3>
			<br>
			<p>{% trans "Мы создавали этот VPN сервис в первую очередь для тех, кто заботится о своей анонимности, дорожит безопасность, при этом не хочет,чтобы его свободу в сети ограничивали." %}<br>{% trans "В наше время хакеров, цензуры, в то время когда любой может вас идентифицировать или анализировать вашу интернет деятельность, онлайн конфиденциальность еще никогда не была так важна." %}
			<br><h3>{% trans "Конфиденциальность" %}</h3><br>
			<p>{% trans "Каждый из нас, кто активно использует все средства современного интернета, ежедневно подвергаются посягательству на конфиденциальность. Нет такого сайта или ресурса который бы не сохранял ваш IP адрес, который приравнивается к номеру паспорта, каким образом эти данные могут быть использованы остается только догадываться. Наш VPN сервис способен скрыть IP адрес от чужих глаз заменив его одним из множества IP адресов нашего сервиса по всему миру! " %}</p>
			<br><h3>{% trans "Безопасность" %}</h3><br>
			<p>{% trans "Ведя онлайн бизнес, путешествуя или пользуясь публичными Wi-FI мы постоянно подвергаемся атакам на наш интернет трафик, результатом этой атаки может служить как утечка ценной информации (переписка, разговоры, передаваемые файлы) так и ее потеря. Благодаря стойкому алгоритму шифрации трафика мы можем гарантировать, что передаваемые вами данные не будут записаны или перехвачены где бы вы не находились, в аэропорту, отеле, интернет кафе или при использовании публичной точки доступа Wi-Fi." %}</p>
			<br><h3>{% trans "Свобода" %}</h3><br>
			<p>{% trans "Цензура в интернете приобретает все большое распространение, начиная с локальных ограничений на работе и заканчивая государственными фаерволами, которые решают куда вам можно заходить, какими сервисами пользоваться и какое видео смотреть. Используя VPN сервис вы сможете посещать любые сайты, в том числе которые недоступны для вашей страны: Google, YouTube, Hulu, BBC, NOW.ru" %}</p>
			<br><h3>{% trans "Удобство" %}</h3><br>
			<p>{% trans "Для использования нашего сервиса не нужно иметь специальных технических знаний, установка и настройка соединения займет у вас считанные минуты. Мы предлагаем доступ по протоколам OpenVPN. Техническая поддержка всегда готова ответить на все ваши вопросы по электронной почте." %}</p>
			<br>
			<br>
          </div>
        </div>
	</div>
	             
	
</section>
{% endblock %}